@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    background-color: #dfdfdf;

}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-weight: bold;
    color: #252426;
}

.logo {
    width: 200px;

}

/*Menu navegacion*/

.navbar-nav {
    background-image: linear-gradient(#252426, #252426, #252426);
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffffff;

    &:hover {
        color: grey;
    }
}

.c {
    background-color: #efefef;
    color: #252426;
    font-weight: 500;
}

#modal-login {
    border: none;
}

/* grid section y footer*/
.grid {
    display: grid;
    grid-template-areas: "section""footer";
    grid-template-rows: auto 200px;
    height: 100vh;
}

section {
    grid-area: section;
    text-align: center;
    background-color: #ffffff;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #252426;
    padding-top: 15px;
    padding-bottom: 5px;
}


.carousel-inner>.carousel-item>img {

    height: 400px;
    width: 100%;
    border: solid 5px #ffffff;
}



.contenedor__img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contenedor__img--producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 200px;
    border: #ffffff solid 5px;
    overflow: hidden;
    position: relative;

    &:hover .img-prod {
        transform: scale(1.1);
    }
}

.img-prod {
    max-width: auto;
    transition: all 2s ease-in-out;
    opacity: 80%;
}


.h6-img {
    position: absolute;
    top: 55px;
    color: black;
}

.h5-img {
    position: absolute;
    top: 80px;
    color: black;
}


/*seccion productos*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-titulo-productos {

    margin-top: 30px;
    border-bottom: #252426 solid 2px;
}

.titulo-productos {
    // background-color: #252426;

    padding: 5px;
    text-align: center;
    width: 100%;
    color: #252426;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}

#carro {
    width: 150px;
    margin-right: 0;
    color: grey;
    font-size: 35px;
    margin: 0 10px 0 10px;

    &:hover {
        color: #444444;
    }
}

#contadorCarrito {
    color: #252426;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid #d8581d 2px;
}

.section-productos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

#contenedor-productos {
    max-width: 70%;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    width: 250px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #dfdfdf;
    box-shadow: 1px 1px 1px 1px rgba(87, 87, 87, 0.3);
}

.contenedor-img {
    overflow: hidden;
    margin: 0 0 10px 0;

    &:hover .card-img-top {
        transform: scale(1.3);
    }
}

.card-img-top {
    max-width: 250px;
    transition: all 2s ease-in-out;
    border-radius: 1%;
}

.card-title {
    color: #252426;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;

}

.card-text {
    margin: 2px;
    font-size: 15px;
    letter-spacing: 1px;
}

.precioProducto {
    
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    color: #252426;

}

.boton-agregar {
    background-color: #ffffff;
    border: solid 2px #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 20px;

    &:hover {

        border: solid 2px lightgrey;

        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

}

.fa-cart-plus {
    color: #252525;

}

.texto {
    display: none;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    background-color: #252426;
    margin-top: 10px;
    letter-spacing: 1px;
}

/*Pagar carrito*/
/*Modal carrito*/

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dfdfdf;

}

#carrito-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;

}

.productoEnCarrito {
    width: 90%;
    border-left: 5px solid grey;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid #252426;
    background-color: lightgrey;
}

.boton-eliminar {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}

.imagenProdCarrito {
    width: 100px;
    height: 100px;

    &:hover {
        border: #252426 solid 2px;
    }
}

.textoProdCarrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;
}

.cantidad {
    display: flex;
    flex-direction: row;

}

.number-text {
    font-family: 'Montserrat', sans-serif;
}

.number {
    width: 40px;
    height: 20px;
    margin-bottom: 5px;
}

.boton {
    background-color: #252426;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    width: 150px;
    height: 35px;
    color: #ffffff;
    font-size: 13px;

    &:hover {
        border: #4c4b4d solid 2px;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

}


.contenedor__img--descuento {
    width: 100%;
    height: 400px;
    border: #ffffff solid 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;

    &:hover .img-prod {
        transform: scale(1.1);
    }
}

.img-desc {
    width: 100%;
    opacity: 80%;
}

.texto-desc {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.h5-desc {
    position: absolute;
    top: 140px;
    font-size: 40px;
}

.h6-desc {
    position: absolute;
    top: 190px;
    font-size: 20px;
}

.boton-desc {
    position: absolute;
    top: 230px;
    font-size: 15px;
    font-weight: 500;
    background-color: #ffffff;
    border: #ffffff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
    width: 100px;
    height: 30px;
}

/*formulario*/

.container__formulario {
    width: 500px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 30px 20px 30px 20px;
    padding: 20px;
    
}
.formulario h5{
	text-align: center;
	margin-bottom: 40px;
	color: #252426;
    font-size: 18px;
	font-weight: 600;
}
.form-label {
    color: #252426;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.box-input{
	border-bottom: 2px solid #adadad;
	position: relative;
	margin: 10px 0;
    width: 250px;
}

.box-input input{
	font-size: 16px;
	color: #252426;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 20px;
}

.boton-form{
	display: block;
	width: 200px;
	height: 40px;
	background-color: #48bb78;
	border: solid 2px #48bb78;
	color: #fff;
	border-radius: 5px;
	font-weight: 600;
	font-size: 15px;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.boton:hover{
	background-color: #2F855A;
	border: solid 2px #2F855A;
	transition: .5s;
}




/*footer*/

.contenedor__img--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;

}

.img-footer {
    width: 200px;
    height: 150px;
    margin: 10px;
    background-color: #ffffff;
    opacity: 80%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.1);
        transition: all 2s ease-in-out;
    }
}

.p-footer {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 2px;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.copyright {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 20px 20px 20px 20px;

}

footer .iconify {
    width: 40px;
    height: 40px;
    background-color: #dfdfdf;
    font-size: 30px;
    padding: 5px;
    margin: 15px;
    color: #4c4b4d;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

    &:hover {
        color: grey;
        background-color: #ffffff;
    }
}


// Media Query

@media (min-width: 768px) {
    .slide-mobile {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 768px) {

    .logo {
        width: 120px;
    }

    .nav-link {
        margin: 0 10px 0 10px;
        font-size: 10px;
        font-weight: 500;
    }
    .c {
        background-color: #efefef;
        color: #252426;
        font-weight: 500;
        width: 65px;
    }

    .slide-desktop{
        display: none;
    }
    .carousel-inner>.carousel-item>img {
        height: 250px;
        width: 100%;
        border: solid 5px #ffffff;
    }
    

    #contadorCarrito {
        color: #252426;
        font-size: 15px;
        font-weight: bold;
        border-bottom: solid #d8581d 2px;
    }

    .social-icon {
        font-size: 20px;
    }

    #contenedor-productos {
        justify-content: center;
    }

    .container__formulario {
        width: 80%;
    }
    .box-input{
        width: 200px;
    }

    .imagenProdCarrito {
        width: 80px;
        height: 80px;
    }

    .textoProdCarrito {
        font-size: 12px;
    }

    .number {
        width: 20px;
    }

    .contenedor__img {
        display: none;
    }

    .contenedor__img--descuento {
        height: 300px;
    }

    .h5-desc {
        position: absolute;
        top: 50px;
        font-size: 17px;
    }

    .h6-desc {
        position: absolute;
        top: 80px;
        font-size: 15px;
    }

    .boton-desc {
        position: absolute;
        top: 100px;
        font-size: 15px;
        width: 80px;
        height: 25px;
    }

    .contenedor__img--descuento {
        width: 100%;
        height: 170px;
    }
    .img-desc {
        
        height:170px;
        opacity: 80%;
    }
    

    footer .iconify {
        width: 20px;
        height: 20px;
        background-color: #dfdfdf;
        border: none;

    }

    .img-footer {
        width: 100px;
        height: 60px;
        margin: 5px;
    }

}