@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

.mensajeBienvenida {
    background-color: #d8581d;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
}

.logo-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 150px;

}

.social-icon {
    color: grey;
    font-size: 25px;
    margin: 0 10px 0 10px;


    &:hover {
        color: #444444;
    }
}

#carro {
    width: 150px;
    margin-right: 0;
    color: grey;
    font-size: 35px;
    margin: 0 10px 0 10px;

    &:hover {
        color: #444444;
    }
}

.logo {
    width: 300px;
}

/* grid section y footer*/
.grid {
    display: grid;
    grid-template-areas: "section""footer";
    grid-template-rows: auto 200px;
    height: 100vh;
}

section {
    grid-area: section;

}

footer {
    grid-area: footer;
    text-align: center;
}

/*carousel*/
.carousel-item {
    height: 400px;
}

.navbar {
    background-image: linear-gradient(#ffffff, #ffffff, #ffffff);
    padding: 15px;
}

.nav-link {
    margin: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;

    &:hover {
        color: grey;
    }
}

/*seccion productos*/

.card {
    margin: 50px 0 50px 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contenedor-img {
    overflow: hidden;

    &:hover .card-img-top {
        transform: scale(1.3);

    }
}

.card-img-top {
    transition: all 2s ease-in-out;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin: 2px;
    font-size: 15px;
}

.colores-disponibles {
    font-size: 12px;
}

.card__comprar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.btn {
    background-color: #d8581d;
    border: #d8581d;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 40px;
    font-size: 25px;
    color: #ffffff;

    &:hover {
        background-color: #da8057;
    }
}

/* section contact*/
.section__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.container__formulario {
    width: 50%;
    background-color: #d8581d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

form {
    margin: 20px;
}

.form-label {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Montserrat', sans-serif;
}

#botonEnviar {
    background-color: #ffffff;
    color: #3a3a3a;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: #ffffff;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        color: black;
        font-weight: 600;
    }
}

/*carrito*/
.section__carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.carrito {
    width: 50%;
    height: 200px;
    background-color: #d8581d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

.texto--carrito {
    color: #ffffff;
}
/*footer*/
#icono-footer {

    width: 50px;
    height: 50px;
    align-items: center;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid grey;


}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.copyright {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 20px 20px 40px 20px;

}

#icono-footer {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

footer .iconify {
    font-size: 30px;
    padding-bottom: 5px;

    &:hover {
        color: grey;
    }
}