@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

#mensajeBienvenida {
    background-color: #d8581d;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    margin-bottom: 20px;
}

.logo-iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social {
    width: 150px;

}

.social-icon {
    color: grey;
    font-size: 25px;
    margin: 0 10px 0 10px;


    &:hover {
        color: #444444;
    }
}

#carro {
    width: 150px;
    margin-right: 0;
    color: grey;
    font-size: 35px;
    margin: 0 10px 0 10px;

    &:hover {
        color: #444444;
    }
}

#boton-carrito {
    width: 150px;
    border: none;
    color: grey;
    background-color: #ffffff;
    font-size: 30px;
    padding: 10px 20px;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        color: #444444;

    }

    &:focus {
        outline: none;
    }
}

#contadorCarrito {
    color: #d8581d;
    font-size: 25px;
    font-weight: bold;
}

.logo {
    width: 300px;
}

/* grid section y footer*/
.grid {
    display: grid;
    grid-template-areas: "section""footer";
    grid-template-rows: auto 200px;
    height: 100vh;
}

section {
    grid-area: section;


}

footer {
    grid-area: footer;
    text-align: center;
}

/*carousel*/
.carousel-item {
    height: 450px;
    border-bottom: #d8581d solid 2px;

}

.carousel-inner {
    border-bottom: #d8581d solid 2px;

}

.navbar {
    background-image: linear-gradient(#ffffff, #ffffff, #ffffff);
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: #d8581d solid 2px;
}

.nav-link {
    margin: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;

    &:hover {
        color: grey;
    }
}


/*seccion productos*/
.contenedor-titulo-productos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.titulo-productos {
    background-color: #d8581d;
    border: #d8581d solid 2px;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff;

}

.selector-modelo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#selecModelo {
    width: 150px;
    height: 30px;
    margin: 0 20px 0 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background-color: #d8581d;
    border: none;
    
}

#contenedor-productos {
    max-width: 70%;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto {
    width: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 1%;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.contenedor-img {
    overflow: hidden;
    margin: 0 0 10px 0;

    &:hover .card-img-top {
        transform: scale(1.3);
    }
}

.card-img-top {
    max-width: 250px;
    transition: all 2s ease-in-out;
    border-radius: 1%;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin: 2px;
    font-size: 15px;
}

.precioProducto {
    font-weight: bold;

}

.boton-agregar {
    background-color: #d8581d;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-size: 20px;

    &:hover {
        background-color: #da8057;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

}

/*Modal carrito*/

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 15;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #da8057;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #da8057;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid grey;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid #da8057;
    background-color: #eee7e3;
}

.boton-eliminar {
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}

.boton-eliminar:focus {
    outline: none;
}
.imagenProdCarrito {
    width: 100px;
    height: 100px;
    &:hover {
        border: #d8581d solid 2px;
    }
}
.textoProdCarrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* section contact*/
.texto-form {
    margin-bottom: 0;
    text-align: center;
}

.section__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.container__formulario {
    width: 50%;
    background-color: #d8581d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

form {
    margin: 20px;
}

.form-label {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Montserrat', sans-serif;
}

#botonEnviar {
    background-color: #ffffff;
    color: #3a3a3a;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: #ffffff;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        color: black;
        font-weight: 600;
    }
}

/*carrito*/
.section__carrito {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.carrito {
    width: 50%;
    height: 200px;
    background-color: #d8581d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 50px;
}

.texto--carrito {
    color: #ffffff;
}

/*footer*/
#icono-footer {

    width: 50px;
    height: 50px;
    align-items: center;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid grey;


}

.menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.copyright {
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 20px 20px 40px 20px;

}

#icono-footer {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

footer .iconify {
    font-size: 30px;
    padding-bottom: 5px;

    &:hover {
        color: grey;
    }
}